NODE_ENV= "development"
PORT = 3000
DATABASE_URL="postgresql://postgres:123456@localhost:5432/ph-health-care?schema=public"
ACCESS_SECRET = "dshfbfvfnvfhbnccj"
ACCESS_EXPIRES_IN = "5m"
REFRESH_SECRET = "dfgjhnbfjckghbmnjvcgnvnbvmcnffbfj"
REFRESH_EXPIRES_IN = "30d"
RESET_PASS_TOKEN = "fgbbxfhbfdygdjbvnxbn"